table{
    font-family: Arial, Helvetica, sans-serif;
    border: 500px;
    width: 100%;
    text-align: center;
    padding: 100px;
    

}

td:hover{
    height: 10px;
    background-color:cadetblue;
}

tr:hover {
    background-color: cadetblue;
}

tr:nth-child(even) {
    background-color: dimgrey;
}

tr:nth-last-child(even) {
    background-color:#C0C0C0;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#32CD32;
    color: black;
}